---
import './style.css';
---

<nav class="container nav-wrapper">
    <h1 class="nav-logo">GASLUR</h1>

    <div class="nav-links">
        <ul class="nav-list">
            <li class="active-link"><a href="">home</a></li>
            <li><a href="">my profile</a></li>
            <li><a href="">activity</a></li>
            <li><a href="">how it works</a></li>
        </ul>
    </div>

    <div class="nav-btns">
        <button class="nav-btn-1">create</button>
        <button class="nav-btn-2">sign in</button>
    </div>
</nav>