/*============================*\
        GOOGLE FONT
\*============================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/*============================*\
        VARIABLES
\*============================*/
:root {
    /**
    colors
    */
    --bg-color: #1F1D2B;
    --bg-color-alt: hsl(255, 19%, 10%);
    --primary-color: #FB37FF;
    --primary-color-alt: #9B51E0;
    --cribbean-blue-color: #18B2DE;
    --gray-1: #E2E2E2;
    --gray-2: #c4c4c4;
    --gray-3: #bcbcbc;
    --gray-4: #d7d7d7;
    --text-color: #FFFFFF;
    --gradient-1: linear-gradient(93.51deg, #9B51E0 2.84%, #3081ED 99.18%);
    --gradient-2: linear-gradient(169.44deg, rgba(58, 129, 191, 0.08) 1.85%, rgba(65, 48, 90, 0.08) 98.72%);

    /**
     typography
    */
    --body-font: "Poppins", sans-serif;
    --body-font-size: 62.5%;

    /**
     transitions
    */
    --transition: all .5s ease-in-out;

    /**
     hamburgur sizes
     */
     --bar-width: 4rem;
     --bar-height: .8rem;
     --hamburgur-gap: .6rem;
}

/*============================*\
        RESETS
\*============================*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--body-font-size);

}

::selection {
    background-color: var(--primary-color);
    color: var(--bg-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

li {
    list-style: none;
}

button {
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--text-color);
    cursor: pointer;
}

/*============================*\
        UTILITY CLASSES
\*============================*/
.container {
    width: 1152px;
    max-width: 90%;
    margin: 0 auto;
}

@media screen and (max-width: 769px) {
    .container {
        width: 769px;
        max-width: 80%;
        margin: 0 auto;
    }
}