---
---

<section class="gs-container container">
    <div class="gs-heading">
        <h2>Getting Started</h2>
        <p>Eu, molestie commodo, enim pellentesque turpis integer sagittis</p>
    </div>
    <div class="gs-features-wrap">
        <div class="gs-features-bg"></div>
        <div class="gs-features">
            <!-- Features -->
            <div class="feature">
                <div class="feature-box">
                    <svg
                        style="fill: white;"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        width="50"
                        height="50"
                        ><path fill="none" d="M0 0H24V24H0z"></path><path
                            d="M12 1l8.217 1.826c.457.102.783.507.783.976v9.987c0 2.006-1.003 3.88-2.672 4.992L12 23l-6.328-4.219C4.002 17.668 3 15.795 3 13.79V3.802c0-.469.326-.874.783-.976L12 1zm0 2.049L5 4.604v9.185c0 1.337.668 2.586 1.781 3.328L12 20.597l5.219-3.48C18.332 16.375 19 15.127 19 13.79V4.604L12 3.05zm4.452 5.173l1.415 1.414L11.503 16 7.26 11.757l1.414-1.414 2.828 2.828 4.95-4.95z"
                        ></path></svg
                    >
                </div>
                <div class="feature-name">
                    <h4>Connect your wallet</h4>
                </div>
            </div>

            <div class="feature">
                <div class="feature-box">
                    <svg
                        style="fill: white;"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        width="50"
                        height="50"
                        ><path fill="none" d="M0 0h24v24H0z"></path><path
                            d="M3 10H2V4.003C2 3.449 2.455 3 2.992 3h18.016A.99.99 0 0 1 22 4.003V10h-1v10.001a.996.996 0 0 1-.993.999H3.993A.996.996 0 0 1 3 20.001V10zm16 0H5v9h14v-9zM4 5v3h16V5H4zm5 7h6v2H9v-2z"
                        ></path></svg
                    >
                </div>
                <div class="feature-name">
                    <h4>Posuere urna, sit amet molestie leo</h4>
                </div>
            </div>

            <div class="feature">
                <div class="feature-box">
                    <svg
                        style="fill: white;"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        width="50"
                        height="50"
                        ><path fill="none" d="M0 0h24v24H0z"></path><path
                            d="M4.828 21l-.02.02-.021-.02H2.992A.993.993 0 0 1 2 20.007V3.993A1 1 0 0 1 2.992 3h18.016c.548 0 .992.445.992.993v16.014a1 1 0 0 1-.992.993H4.828zM20 15V5H4v14L14 9l6 6zm0 2.828l-6-6L6.828 19H20v-1.172zM8 11a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"
                        ></path></svg
                    >
                </div>
                <div class="feature-name">
                    <h4>Lorem ipsum dolor sit amet.</h4>
                </div>
            </div>

            <div class="feature">
                <div class="feature-box">
                    <svg
                        style="fill: white;"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        width="50"
                        height="50"
                        ><path fill="none" d="M0 0h24v24H0z"></path><path
                            d="M5 13c0-5.088 2.903-9.436 7-11.182C16.097 3.564 19 7.912 19 13c0 .823-.076 1.626-.22 2.403l1.94 1.832a.5.5 0 0 1 .095.603l-2.495 4.575a.5.5 0 0 1-.793.114l-2.234-2.234a1 1 0 0 0-.707-.293H9.414a1 1 0 0 0-.707.293l-2.234 2.234a.5.5 0 0 1-.793-.114l-2.495-4.575a.5.5 0 0 1 .095-.603l1.94-1.832C5.077 14.626 5 13.823 5 13zm1.476 6.696l.817-.817A3 3 0 0 1 9.414 18h5.172a3 3 0 0 1 2.121.879l.817.817.982-1.8-1.1-1.04a2 2 0 0 1-.593-1.82c.124-.664.187-1.345.187-2.036 0-3.87-1.995-7.3-5-8.96C8.995 5.7 7 9.13 7 13c0 .691.063 1.372.187 2.037a2 2 0 0 1-.593 1.82l-1.1 1.039.982 1.8zM12 13a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"
                        ></path></svg
                    >
                </div>
                <div class="feature-name">
                    <h4>Lorem ipsum dolor sit.</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .gs-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 2rem;
        gap: 2rem;
    }
    .gs-heading h2 {
        font-weight: 500;
        font-size: 2.4rem;
    }
    .gs-heading p {
        color: var(--gray-2);
        font-size: 0.9rem;
    }
    .gs-features {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5rem;
        flex-wrap: wrap;
    }
    .gs-features-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: -1;
        position: relative;
    }
    .gs-features-bg {
        background-image: var(--gradient-1);
        filter: blur(100px);
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0.5;
    }
    .feature {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.9rem;
    }
    .feature-box {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        background: rgba(255, 255, 255, 0.26);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(11.7px);
        -webkit-backdrop-filter: blur(11.7px);
        border: 1px solid rgba(255, 255, 255, 0.69);
    }
    .feature-name h4 {
        font-weight: 400;
        font-size: 0.7rem;
    }
</style>
